* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #3f4273;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 2rem;
}

form {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 2rem;
}

.image-output {
  display: flex;
  justify-content: center;
  height: 500px;
}

.img {
  width: 60%;
  height: 500px;
}

.drop-zone {
  border: 2px dashed #fff;
  height: 500px;
  width: 70%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  cursor: pointer;
}

.drop-zone span {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.button {
  margin-top: 2rem;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-1px);
}

.button:active {
  transform: translateY(-1px);
}

#button {
  margin-top: -2rem;
}
